<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sky_take_out.user (openid, name, phone, sex, id_number, avatar, create_time)
        VALUES (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>
    <select id="selectDayNewUserCount" resultType="java.lang.Integer">
        SELECT IFNULL(count(id), 0) AS count
        FROM sky_take_out.user
        WHERE create_time &gt; #{startTime} AND create_time &lt; #{endTime}
    </select>
    <select id="selectAllUserCount" resultType="java.lang.Integer">
        SELECT IFNULL(count(id), 0) AS count
        FROM sky_take_out.user
        WHERE create_time &lt; #{endTime}
    </select>
</mapper>